

:Root{
--Primary: Rgb(29, 221, 189);
--BgDark: Rgb(16, 14, 26);
--White: Rgb(250, 250, 250);
--Secondary: Rgb(0, 59, 50);
--BgLight: Rgb(190, 181, 181);
}


*{
    Padding: 5px;
    Margin: 0;
    Box-Sizing: Border-Box;
    -Webkit-Font-Smoothing: Antialiased;
}

Body{
    position: absolute;
    top: 110px;
        
    Background-Color: Var(--BgDark);
    Font-Family: 'Poppins', Sans-Serif;
}

.mar{
    Margin: 5px;
}

.im{
    margin-left: 50px;
}
.Container{
    Max-Width: 1152px;
    Padding: 0 15px;
    Margin: 0 Auto;
}
.Hero{
    Padding-Top: 2rem;
    Padding-Bottom: 3rem;
}
.Hero .Left Img{
Width: 400px;
}

.ll{
    position: relative;
    right: 55px;
}
        .Hero .Right {
        Color: Var(--White);
        Margin-Top: -7rem;
        }
        .Hero .Right H6{
        Font-Size: 2.6rem;
        Color: Var(--Primary);
        Margin-Bottom: 0.5rem;
        }
        .Hero .Right H1{
        Font-Size: 1.5rem;
        Font-Weight: 100;
        Line-Height: 1.2;
        Margin-Bottom: 2rem;
        }
        .Hero .Right H2{
            
            Font-Size: 1.9rem;
            Color: Var(--Primary);
            Margin-Bottom: 0.5rem;
            }
        .Hero .Right H6 Span{
            Color: Var(--White);
            }
        .Hero .Right H2 Span{
            Color: Var(--White);
            }                    
        
        .Hero .Right P{
        Line-Height: 1.9;
        Margin-Bottom: 2rem;
        }
        .Flex{
            Display: Flex;
            }
            .Items-Centre{
            Align-Items: Center;
            }
            .Justify-Between{
            Justify-Content: Space-Between;
            }
            .Justify-Center{
            Justify-Content: Center;
            }
            .Justify-Right{
            Justify-Content: Right;
            }
           
            .Flex-1{
            Flex: 1;
            }
            
.fa {
size: 50px;
padding: 20px;
font-size: 150px;
width: 100px;

text-decoration: none;
}
.fa-facebook {
    background: Var(--BgDark);
    color: white;
  }
.fa-linkedin {
    color: rgb(255, 255, 255);
}  
.fa-github {
    background: Var(--BgDark);
    color: white;
  }

  .fa:hover{ 
    color: Var(--Primary);
  }
